<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TradeMapper">
	<update id="purchaseBook" parameterType="dto.PurchaseDTO">
		insert into purchased_book_list
		(ID, SELL_BOOK_LIST_idx, Quantity, name,Price,Phone_number,Zip_code, Address_base, Address_Detail,To_Postman, Card_no, Flag)
		values
		('1','1', '1',#{name},'10000', #{phoneNumber}, #{postalcode}, #{addressline1}, #{addressline2},#{phoneNumber},#{cardNumber},'0')
	</update>
</mapper>