@CHARSET "UTF-8";

.header_top {
	text-align: right;
	font-weight: bold;
}

.right_align {
	text-align: right;
}

.marginBottom {
	margin-bottom: 45px;
}

.marginTOP {
	margin-top: 5px;
}

/*바로 밑의 자식들만 먹음 '>'*/
.articleFloat>div {
	float: left;
}

.contentsSpace {
	height: 150px;
}

.contentsLine2 {
	height: 150px;
}

.detail_contentsSpace {
	height: 350px;
}

.sellerView_contentsSpace {
	height: 30px;
	/*권능을 막는 스타일 영어를 이김*/
	word-wrap: break-word;
}

.img_size {
	width: 200px;
}

.detail_img_size {
	width: 500px;
}

.float_style {
	float: left;
}